<div class="chart-wrapper">
    <div class="chart-title">
        Billable vs Bench vs Open Position
    </div>
    <div class="chart-stage">
        <div ng-controller="BillableBenchAreaCtrl">
            <canvas class="chart chart-line" data="data"
                    labels="labels" legend="true" series="series"
                    options="{bezierCurve : false}"
                    click="onClick">
            </canvas>
        </div>
    </div>
    <div class="chart-notes">
        Over last 12 weeks
    </div>
</div>